---
import * as constants from "../constants"

import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro'
import PhotoSection from '../components/PhotoSection.astro'
---

<Layout title="Welcome to Astro.">
	<main transition:animate="slide">
		<Section backgroundColor="white" color="black">
			<h1>Welcome to <span class="text-gradient">About</span></h1>
			<p class="instructions">
				To get started, open the directory <code>src/pages</code> in your project.<br />
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
				
			</p>
		</Section>
		
		<Section backgroundColor= {constants.PRIMARYCOLOR} color="white">
			<h1>Section Header</h1>
    		<p> Text text text text text.</p>
		</Section>
		<PhotoSection backgroundColor= {constants.DARKCOLOR} color="white" onLeft={true}>
			<h1>Section Header</h1>
    		<p> Text text text text text.</p>
		</PhotoSection>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		/* padding: 1rem; */
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: rgb(0, 0, 0);
		font-size: 20px;
		line-height: 1.6;
		flex: 1;
		margin: 0;
	}
</style>
