---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Project from '../components/Project.astro'
import Section from '../components/Section.astro'
---

<Layout title="Welcome to Astro.">
	<main transition:animate="slide">
		<Hero></Hero>
		<div class="textbox">
			<h1>Welcome to <span class="text-gradient">Astro!!!</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			
		</p>
		</div>
		<div class="project-section">
			<Project></Project>
			<Project></Project>
			<Project></Project>
			<Project></Project>
		</div>
	</main>
</Layout>

<style>
	main {
		flex: 1;
	}

	.textbox {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(0, 0, 0);
		font-size: 20px;
		line-height: 1.6;
	}

	.project-section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: calc(100% - 2rem);
	}
</style>
