---
---

<div class="hero">

</div>

<style>
    .hero {
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 5rem);
        background-image: url("../../public/images/hero.gif");
        background-size: cover;
    }
</style>